{% extends "admin/base.html" %}
{% block content %}
<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <div class="card">
                <div class="card-header">Add Category</div>
                <div class="card-body">
                    <form action="" method="post" name="login" class="form-group col-md-8 col-md-offset-2">
                        <fieldset>
                            {{ form.hidden_tag() }} {{ form.name(size=80, class="main-form form-control", placeholder="Name of category") }}
                            <p><input type="submit" value="Add category" class="btn btn-primary"></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
