{% extends "admin/base.html" %}
{% block content %}
<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <div class="card">
                <div class="card-header mt-10">New User</div>
                <div class="card-body">
                    <form action="" method="post" name="login" class="form-group col-md-12 col-md-offset-2">
                        <fieldset>
                            {{ form.hidden_tag() }} {{ form.profile_url(size=80, class="main-form form-control mb-1", placeholder="Image URL", value=g.user.profile_image) }} {{ form.bios(class="main-form form-control mb-1", placeholder=g.user.bios, cols="35", rows="10") }} {{ form.name(class="main-form form-control md-1", value=g.user.name )}}
                            <p><input type="submit" value="Submit" class="btn btn-primary"></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
